*,html,body{
box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}

.app{
    height: 500px;
    width: 500px;
    border: 5px solid rgb(17, 10, 36);
    padding: 8px;
}
.addInputDiv {
    position: relative;
    width: 100%;
    margin-bottom: 44px;
}
.inputBar{
    width: 100%;
    padding: 16px;
}
.inputButton{
    position: absolute;
    right: 0;
    padding: 16px 32px;
    background-color: #30c69f;
}
.todoItem{
    background-color: #30c69f;
    margin-bottom: 14px;
    padding: 8px;
    position: relative;
}
.fa-circle-o,.fa-circle{
    position: absolute;
    right: 12px;
    color: red;
    font-size: 22px;
    cursor: pointer;
}
.fa-close{
    position: absolute;
    right: 40px;
    font-size: 22px;
    color: red;
}